<div id="app container">
  <nav class="navbar">
    <div class="col-md-6 col-md-offset-3">
      <search handle-click="$ctrl.handleClick" search-input-value="$ctrl.searchInputValue"><h5><em>search</em> component goes here</h5></search>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-7">
      <video-player current-video="$ctrl.currentVideo"><h5><em>videoPlayer</em> component goes here</h5></video-player>
    </div>
    <div class="col-md-5">
      <video-list string="$ctrl.string" videos="$ctrl.videos" select-video="$ctrl.selectVideo" current-video="$ctrl.currentVideo"><h5><em>videoList</em> component goes here</h5></video-list>
    </div>
  <div>
</div>
