<ul class="video-list">
  <video-list-entry ng-repeat="video in $ctrl.videos track by video.id.videoId" video="video"  select-video="$ctrl.selectVideo" current-video="$ctrl.currentVideo">
    {{$ctrl.selectVideo()}}
  </video-list-entry>
</ul>
  <!-- <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry>
  <video-list-entry><h5><em>videoListEntry</em> component goes here</h5></video-list-entry> -->
